
.main-nav {
  background: $darkPurple;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  a img {
    width: 30px;
    padding: 15px 25px;
  }
  @include tablet {
    flex-direction: column;
    width: 80px;
    flex-wrap: wrap;
    height: 100%;
    position: absolute;
    justify-content: flex-start;
    a {
      text-align: center;
    }
    a img {
      padding: 5px 25px;
      margin: 15px 0;
    }
  }
}

nav a img {
  opacity: 0.4;
}

nav .selected img {
  opacity: 1;
  border-left: 3px solid $green;
  border-top-left-radius: -25px;
}