
@mixin vertical_align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin tablet {
  @media screen and (min-width: #{$tablet-width})
  {
    @content
  }
}

@mixin desktop {
  @media screen and (min-width: #{$desktop-width})
  {
    @content
  }
}