// colour variables

$darkGrey: #5c5c5c;
$mediumGrey: #8d8d8d;
$darkPurple: #4D4D71;
$lightPurple: #7479BD;
$evenLighterPurple: #abaed7;
$borderGrey: #ECECEC;
$lightGrey: #FBFBFB;

$green: #83C891;

// media variables

$tablet-width: 768px;
$desktop-width: 1000px;