
.main-nav {
  background: $darkPurple;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  z-index: 0;
  a {

  }
  a img {
    width: 30px;
    padding: 15px 25px;
    opacity: 0.4;
    transition: opacity .25s ease-in-out;
  }
  @include tablet {
    flex-direction: column;
    width: 80px;
    flex-wrap: wrap;
    position: fixed;
    justify-content: flex-start;
    height: 100vh;
    overflow: scroll;
    margin-top: -70px;
    a {
      text-align: center;
    }
    a img {
      padding: 5px 25px;
      margin: 15px 0;
    }
  }
}

nav a:first-child {
  @include tablet {
    padding-top: 70px;
  }
}

nav a img:hover {
  opacity: 1;
}

nav .selected img {
  opacity: 1;
  border-top: 3px solid $green;
  //border-top-left-radius: -25px;
  @include tablet {
    border-left: 3px solid $green;
    border-top: none;
  }
}

#select-graph-list {
  list-style: none;
  li, h3 {
    display: inline;
  }
  h3:hover {
    cursor: pointer;
  }
}

