
.closable-alert {
  background: $lightPurple;
  height: 60px;
  margin: 20px 20px 10px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  @include tablet {
    height: 40px;
  }
  button {
    height: 26px;
    border: none;
    background: none;
    text-align: right;
    margin-left: auto;
    padding-right: 15px;
    img {
      width: 20px;
    }
  }
}
.hidden {
  display: none;
  visibility: hidden;
  height: 0;
  margin: 0;
}
