#new-members-div, #recent-activity-div {
  height: 385px;
  border-bottom: $generic-border;
  text-align: center;
  width: 95%;
  margin: 0 2.5%;
  @include tablet {
    width: 44.5%;
    text-align: left;
  }
  h2 {
    color: $mediumGrey;
    display: block;
    padding: 0 10px;
    font-size: 1.3em;
    @include tablet {
      padding-left: 12px;
    }
  }
}

#new-members-div {
  @include tablet {
    float: left;
    margin-right: 0;
    padding-right: 2.5%;
    border-right: $generic-border;
  }
}

#recent-activity-div {
  @include tablet {
    float: right;
  }
}

.new-member:last-child, .recent-activity:last-child {
  border-bottom: none;
}

.new-member, .recent-activity {
  width: 85%;
  height: 70px;
  margin: auto;
  padding-top: 12px;
  border-bottom: $generic-border;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  position: relative;
  @include tablet {
    width: 95%;
  }
  img {
    width: 20%;
    max-width: 50px;
    border-radius: 10px;
    float: left;
  }
  .activity-svg {
    position: absolute;
    width: 15px;
    border-radius: 0;
    padding-left: 10px;
  }
}



.new-members-name, .new-members-date, .new-members-email, .recent-activity-name, .recent-activity-time {
  display: inline-block;
  font-weight: 400;
  color: $mediumGrey;
}

.new-members-name {
  float: left;
  padding-left: 20px;
  font-size: 0.9em;
  margin: 0;
}

.recent-activity-name {
  float: left;
  padding-left: 20px;
  font-size: 0.7em;
  margin: 0;
}

.new-members-date {
  float: right;
  font-size: 0.9em;
  margin: 0;
}

.new-members-email, .recent-activity-time {
  padding-left: 20px;
  float: left;
  margin-top: 0;
  font-size: 0.7em;
  margin-bottom: 0;
  a {
    color: $lightPurple;
    text-decoration: none;
  }
}

.activity-arrow {
  width: 15px;
  @include vertical_align;
  position: absolute;
  right: -10px;
}