
#message-user-div, #settings-div {
  height: 385px;
  border-bottom: $generic-border;
  text-align: center;
  width: 95%;
  h2 {
    color: $mediumGrey;
    margin-right: auto;
    font-size: 1.2em;
  }
  @include tablet {
    display: inline-block;
    width: 44.5%;
    border-right: $generic-border;
    padding-right: 2.5%;
  }
}

#message-user-div {
  margin: 0 2.5%;
}

#settings-div {
  margin: auto;
  @include tablet {
    @-moz-document url-prefix() {
      float: right;
    }
    border-right: none;
  }
  button {
    width: 40%;
    height: 45px;
    color: white;
    border-radius: 5px;
    font-size: 0.9em;
    border: 1px solid $borderGrey;
    margin-bottom: 20px;
  }
}

#settings {
  width: 90%;
  margin: auto;
  padding: 20px 0;
  .switch-button {
    padding-left: 20px;
    width: 40%;
    display: inline-block;
    float: right;
    margin-top: 20px;
    @include vertical_align;
  }
}

#save-button {
  background: $lightPurple;
}

fieldset {
  border: none;
}

#search-bar-two, textarea, #message-user-div button {
  min-width: 250px;
  width: 60%;
  border-radius: 5px;
  font-size: 0.9em;
  border: 1px solid $borderGrey;
  transition: background .50s ease, color .50s ease;
  margin-bottom: 20px;
  @include tablet {
    margin-right: 20px;
  }
}

#message-user-div button {
  color: white;
  background: $lightPurple;
  height: 45px;
  width: 65%;
}

#search-bar-two {
  height: 45px;
  color: $darkGrey;
  background: $lightGrey;
  padding-left: 5%;
}

textarea {
  padding-left: 5%;
  height: 140px;
  padding-top: 15px;
  color: $darkGrey;
  background: $lightGrey;
  @include tablet {
    height: 90px;
  }
}

#search-bar-two:hover, #search-bar-two:active, #search-bar-two:focus,
textarea:hover, textarea:active, textarea:focus {
  outline: none;
  background: $evenLighterPurple;
  color: white;
}

strong {
  display: inline-block;
  font-size: 1em;
  color: $darkGrey;
  float: left;
  @include vertical_align;
  margin-top: 20px;
  @include tablet {
    font-size: 0.8em;
  }
}

#select-timezone-label {
  visibility: hidden;
}

#select-timezone {
  min-width: 250px;
  height: 45px;
  margin-top: 20px;
  width: 100%;
  border-radius: 5px;
  font-size: 0.9em;
  border: 1px solid $borderGrey;
  background: $lightGrey;
  color: $darkGrey;
}

#message-prompt {
  color: $darkGrey;
  margin-top: 0;
  padding: 0 10px 0 0;
}

.ui-widget {
  margin: 0;
}

#ui-id-1, .ui-helper-hidden-accessible div {
  display: none;
}

.ui-autocomplete {
  background: $lightGrey;
  border: 1px solid $borderGrey;
  font-size: 0.9em;
  color: $darkGrey;
  width: 120px;
  p {
    padding: 2px;
  }
}