
#message-user-div {
  height: 385px;
  border-bottom: $generic-border;
  text-align: center;
  width: 95%;
  margin: 0 2.5%;
  h2 {
    color: $mediumGrey;
    margin-right: auto;
    font-size: 1.2em;
  }
  @include tablet {
    display: inline-block;
    width: 44.5%;
    border-right: $generic-border;
    padding-right: 2.5%;
  }
}

fieldset {
  border: none;
}

#search-bar-two, textarea, #message-user-div button {
  min-width: 250px;
  width: 60%;
  border-radius: 5px;
  font-size: 0.9em;
  border: 1px solid $borderGrey;
  transition: background .50s ease, color .50s ease;
  margin-bottom: 20px;
  @include tablet {
    margin-right: 20px;
  }
}

#message-user-div button {
  color: white;
  background: $lightPurple;
  height: 45px;
  width: 65%;
}

#search-bar-two {
  height: 45px;
  color: $darkGrey;
  background: $lightGrey;
  padding-left: 5%;
}

textarea {
  padding-left: 5%;
  height: 140px;
  padding-top: 15px;
  color: $darkGrey;
  background: $lightGrey;
}

#search-bar-two:hover, #search-bar-two:active, #search-bar-two:focus,
textarea:hover, textarea:active, textarea:focus {
  outline: none;
  background: $evenLighterPurple;
  color: white;
}
