
.main-content {
  @include tablet {
    margin-left: 80px;
  }
}

#dashboard-tab {
  padding: 5px 5px;
  text-align: center;
  display: block;
  width: 100%;
  height: 30px;
  @include tablet {
    display: inline-block;
    width: 20%;
    height: 50px;
    padding: 10px 20px;
    text-align: left;
  }
}

#dashboard {
  font-family: "Big Caslon", serif;
  font-size: 1.8em;
  color: $darkGrey;
  font-weight: 700;
  margin: 10px 0;
}

.line-chart-titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    margin-right: auto;
    font-size: 1.2em;
    @include tablet {
      font-size: 1.5em;
    }
  }
  h3 {
    padding: 0 10px;
    font-size: 0.9em;
  }
  h2, h3 {
    color: $mediumGrey;
  }
}

.line-chart-div {
  width: 95%;
  margin: auto;
}

