
.main-content {
  @include tablet {
    margin-left: 80px;
  }
}

#dashboard-tab {
  //padding: 5px 5px;
  text-align: center;
  display: block;
  width: 95%;
  height: 40px;
  margin: auto;
  @include tablet {
    display: inline-block;
    width: 20%;
    height: 50px;
    padding: 10px 20px;
    text-align: left;
  }
}

#dashboard {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.8em;
  color: $darkGrey;
  font-weight: 700;
  margin: 10px 0;
}

.line-chart-titles, .bar-chart-titles, .pie-chart-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    margin-right: auto;
    font-size: 1em;
    @include tablet {
      font-size: 1.2em;
    }
  }
  h3 {
    padding: 0 10px;
    font-size: 0.7em;
    @include tablet {
      font-size: 0.9em;
    }
  }
  h2, h3 {
    color: $mediumGrey;
  }
}

.line-chart-div {
  width: 95%;
  margin: auto;
  padding-bottom: 80px;
  border-bottom: 2px solid $borderGrey;
  height: 50vh;
}

.bar-chart-div {
  margin: 0 2.5%;
  width: 90%;
  border-bottom: 2px solid $borderGrey;
  @include tablet {
    margin: 0 0 0 2.5%;
    width: 46%;
    display: inline-block;
    border-right: 2px solid $borderGrey;
  }
}

.pie-chart-div {
  width: 90%;
  margin: 0 2.5%;
  border-bottom: 2px solid $borderGrey;
  @include tablet {
    display: inline-block;
    float: right;
    width: 46%;
  }
}
